html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* CSS for header navigation */
.main .container .header,
.error .container .header,
.internal .container .header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.main .container .nav-menu ul,
.error .container .nav-menu ul,
.internal .container .nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main .container .nav-menu li,
.error .container .nav-menu li,
.internal .container .nav-menu li {
  margin-right: 15px;
}

.main .container .nav-menu a,
.error .container .nav-menu a,
.internal .container .nav-menu a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.main .container .nav-menu a:hover,
.error .container .nav-menu a:hover,
.internal .container .nav-menu a:hover {
  background-color: #ddd;
}

/* CSS for footer */
.main .container .footer,
.error .container .footer,
.internal .container .footer {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.main .container .footer p,
.error .container .footer p,
.internal .container .footer p {
  margin: 0;
}

.main .container .footer a,
.error .container .footer a,
.internal .container .footer a {
  color: #333;
  text-decoration: none;
}

.main .container .footer a:hover,
.error .container .footer a:hover,
.internal .container .footer a:hover {
  text-decoration: underline;
}

/* CSS for main content */
.main .container .content,
.error .container .content,
.internal .container .content {
  margin-top: 100px;
  /* Adjust this value to accommodate the header's height */
  margin-bottom: 60px;
  /* Adjust this value to accommodate the footer's height */
  padding: 20px;
}

/* Error page */
.error .container .container-tight {
  --tblr-gutter-x: calc(var(--tblr-page-padding) * 2);
  --tblr-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--tblr-gutter-x) * .5);
  padding-left: calc(var(--tblr-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  max-width: 30rem;
}

.error .container .py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

@media (min-width: 768px) {
  .error .container .empty {
    padding: 3rem;
  }

}

.error .container .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.error .container .empty-header {
  margin: 0 0 1rem;
  font-size: 4rem;
  font-weight: var(--tblr-font-weight-light);
  line-height: 1;
  color: var(--tblr-muted);
}

.empty-subtitle, .empty-title {
  margin: 0 0 .5rem;
}

.error .container .empty-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: var(--tblr-font-weight-bold);
}

.error .container .text-muted {
  --tblr-text-opacity: 1;
  color: rgba(var(--tblr-muted-rgb),var(--tblr-text-opacity))!important;
}

.error .container .empty-subtitle, .error .container .empty-title {
  margin: 0 0 .5rem;
}

.error .container .empty-action {
  margin-top: 1.5rem;
}



